@import "../../variables";

.Header {
	background-image: $bg-image;
	background-size: 100%;
  background-position-y: 45%;
	background-attachment: fixed;
	background: #3f51b5;

	small {
		color: #e7e7e7;
	}

	&.music {
		background-image: url('../../assets/music.jpg');
		background-size: 100%;
		background-position-y: 77%;
		// background-attachment: fixed;
		color: #ffffff;
	}

	&.dev {
		background-image: url('../../assets/dev.jpg');
		background-size: 100%;
		background-position-y: 43%;
		color: #ffffff;
	}

	h1, h2 {
		margin: 5px auto 0;

		a {
			color: #ffffff;
		}
	}

	&__linkbar {
		text-align: center;
		h2 {
			margin: 0 auto 10px;
		}

		.btn, .btn:focus {
			font-size: 0.5em;
			background: rgba(0, 0, 0, 0.3);
			width: 100%;
			color: #ffffff;
			border-radius: 5px;

			&.active {
				background: rgba(255, 255, 255,0.6);
				color: #222222
			}

			&:hover {
				background: rgba(255, 255, 255,0.3);
				color: #222222;
			}

			&.btn-success {
				background: rgba(94, 189, 139, 1);

				&.active {
					background: rgba(94, 189, 139, 0.6);
					color: #222222
				}

				&:hover {
					background: rgba(94, 189, 139, 0.8);
					color: #ffffff;
				}
			}
		}
	}
}
